USE [SistemaUsuarios]
GO
/****** Object:  Table [dbo].[items]    Script Date: 21/11/2025 10:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[items](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/11/2025 10:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 21/11/2025 10:35:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
	[RoleID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[items] ON 

INSERT [dbo].[items] ([id], [name], [description], [created_at]) VALUES (1, N'Laptop Lenovo xd', N'Laptop de 14 pulgadas con procesador Intel i5', CAST(N'2025-09-08T14:45:44.400' AS DateTime))
INSERT [dbo].[items] ([id], [name], [description], [created_at]) VALUES (2, N'Mouse Logitech', N'Mouse inalámbrico ergonómico', CAST(N'2025-09-08T14:45:44.400' AS DateTime))
INSERT [dbo].[items] ([id], [name], [description], [created_at]) VALUES (3, N'Teclado Mecánico', N'Teclado retroiluminado con switches azules', CAST(N'2025-09-08T14:45:44.400' AS DateTime))
SET IDENTITY_INSERT [dbo].[items] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Administrador')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'Cliente')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [RoleID]) VALUES (1, N'admin01', N'admin@ejemplo.com', N'123', CAST(N'2025-09-08T12:58:48.427' AS DateTime), 1, 1)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [RoleID]) VALUES (2, N'cliente01', N'cliente@ejemplo.com', N'123', CAST(N'2025-09-08T12:58:48.427' AS DateTime), 1, 2)
INSERT [dbo].[Users] ([UserID], [Username], [Email], [PasswordHash], [CreatedAt], [IsActive], [RoleID]) VALUES (3, N'cliente02', N'cliente@ejemplo.com', N'123', CAST(N'2025-09-08T15:08:48.783' AS DateTime), 1, 2)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[items] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
